body{
  font-family: 'Montserrat';
  color: #FDFFFC;
  text-align: center;
  background-color: #4287f5;
  margin: 0px;
}
.spectrum{
  margin: auto;
}

td{
  height: 200px;
  padding: 100px;
  border: 6px solid white;
}

#row_one{
  background-color: #6f42f5;
}

#row_two{
  background-color: #ad42f5;
}

#row_three{
  background-color: #ec42f5;
}

#row_four{
  background-color: #f54242;
}

#row_five{
  background-color: #f5b642;
}